/* Alert.css */
.alert-container {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 300px;
    z-index: 1000;
  }
  
  .alert {
    background-color: #15a399;
    color: #fff;
    padding: 15px;
    border-radius: 5px;
    position: relative;
  }
  
  .close {
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
  }
  