.css-lguxed-MuiAvatar-root {
    background-color:#15a399;
}
.css-1vhaqj4-MuiButtonBase-root-MuiButton-root{
    background-color: #15a399;
    /* #17da80 */
}
button{
    background-color: #15a399;
}
.start{
    position: fixed;
}